@using Domain.Models.Forms
@using Licensing.Gateway.Models.Application
@model ApplicationSubmittedViewModel;
@{
    ViewData["Title"] = "Application submitted";
    Layout = "~/Views/Shared/_Layout_Application_Part_2.cshtml";
}

<div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

    <div class="nhsuk-card__content">

        <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
            Application complete
        </h1>

        <p class="nhsuk-u-font-size-24">
            Your reference number
            <br>
            <strong class="nhsuk-u-font-size-32">@Model.ApplicationReferenceID</strong>
        </p>

    </div>

</div>

<p>We have sent you a confirmation email.</p>

<p><a onclick="window.print()" href="#">Print this page</a></p>

<h2>What happens next</h2>

<p>
    The @CommonApplicationConstants.NHS_England_Provider_Team_Name will reach out to you by email within 5 working days to discuss your application.  </p>
<p>
    Within 2-4 weeks , you will receive an email notification with the outcome of your application for an NHS provider licence.
</p>

<h2>Get help</h2>

<p>If you have any questions or need further assistance, contact <a href="mailto:england.licensing@nhs.net" title="Click here to email the @CommonApplicationConstants.NHS_England_Provider_Team_Name">england.licensing@nhs.net</a></p>

<p>
    <a asp-controller="Feedback" asp-action="Index" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
</p>

<a class="nhsuk-button" data-module="nhsuk-button" type="submit" asp-controller="Account" asp-action="SignOut" title="Click here to sign out of the application">
    Sign out
</a>
