@using Domain.Objects.ViewModels.YourProfile
@model ProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout_With_BreadCrumb.cshtml";
    ViewBag.Title = "NHS - Provider Licensing portal: Your profile";
}

<div class="nhsuk-width-container app-width-container">
    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="~/">Licences</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="~/your-profile">Your profile</a></li>
            </ol>
        </div>
    </nav>
    <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent" role="main">
        <div class="nhsuk-grid-row">
            <h1 class="nhsuk-heading-l">Your Profile</h1>

            <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        First name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        @Model.FirstName
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Last name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        @Model.LastName
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        @Model.Email
                    </dd>
                </div>
            </dl>

            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>
                    To manage and update your profile, you need to leave the licensing portal and launch Okta. After making the necessary changes in Okta, please return to this browser to continue.
                </p>
            </div>

            <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="@Model.OktaUrl/enduser/settings">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Edit profile</span>
                </a>
            </div>
            <p>
                <a asp-action="Feedback" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
            </p>
        </div>
    </main>
</div>