@using Domain.Models.Forms
<div class="nhsuk-form-group">

    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading nhsuk-u-padding-bottom-4">
            CQC Provider ID already has an NHS Provider Licence
        </h1>
    </legend>

    <p>
        The CQC Provider ID you have entered cannot be used to apply for an NHS Provider Licence because the company with this CQC Provider ID already has an NHS Provider Licence.
    </p>
    <p>
        If you still wish to discuss licensing requirements, please email
        <a href="mailto:england.licensing@nhs.net" title="Click to email the @CommonApplicationConstants.NHS_England_Provider_Team_Name">england.licensing@nhs.net</a>
    </p>
</div>
