<details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
            What is an ultimate controller?
        </span>
    </summary>
    <div class="nhsuk-details__text">
        <p>
            An ultimate controller is a body that can, either alone or jointly with others, instruct a licensed provider to act in a certain way, but cannot itself be instructed to act in a certain way.
        </p>
        <p>
            An ultimate controller can be an individual or a corporate body.
        </p>
        <p>
            It is possible to have more than one ultimate controller, but if there is no body that could instruct you as a licensed provider, then you do not have an ultimate controller.
        </p>
    </div>
</details>
