@using Domain.Objects.ViewModels.Messages
@model MessageDTO
@{
    ViewBag.Title = "NHS - Provider Licensing portal: Message not found";
}

<h1 class="nhsuk-heading-m nhsuk-u-margin-bottom-2 nhsuk-u-margin-padding-2">Message not found</h1>

<p>
    The message you are looking for could not be found.
</p>