@using Domain.Objects.ViewModels.Messages
@model MessagesDashboardViewModel
@{
    Layout = "~/Views/Shared/_Layout_With_BreadCrumb.cshtml";
    ViewBag.Title = "NHS - Provider Licensing portal: Messages - Sent messages";
}


<div class="nhsuk-width-container app-width-container">
    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="~/">Licences</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="~/messages/index">Messages</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="~/messages/sent">Sent</a></li>
            </ol>
        </div>
    </nav>
    <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent" role="main">
        <ul class="nhsuk-grid-row nhsuk-card-group">
            
            <partial name="_LeftSideNav_Messages" />

            <li class="nhsuk-grid-column-three-quarters nhsuk-card-group__item nhsuk-u-padding-left-8">
                <div class="nhsuk-grid-row">
                    <h1 class="nhsuk-heading-l">Sent</h1>

                    <partial name="_MessagesTable" model='new MessagesTableViewModel { MessagesDashboardViewModel = Model, ActionName = "Index", ShowReadIcon = false }' />
                </div>
            </li>
        </ul>

    </main>
</div>