@model Licence.Holder.Application.Models.Team.ResendInvitationViewModel
@{
    Layout = "~/Views/Shared/_Layout_With_BreadCrumb.cshtml";
    ViewBag.Title = "NHS - Provider Licensing portal: Team member - resend invitation";
}

<div class="nhsuk-width-container app-width-container">
    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-controller="Team" asp-action="Index">Team members</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-controller="Team" asp-action="ManageUser">Manage active team members</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-controller="Team" asp-action="ManageUser" asp-route-id="@Model.UserId">Team member details</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Resend invitation</a></li>
            </ol>
        </div>
    </nav>
    <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent" role="main">
        <h1 class="nhsuk-heading-l">Confirmation</h1>
        <h2 class="nhsuk-heading-m">Invitation successfully resent</h2>
        <h3 class="nhsuk-heading-s">What happens next?</h3>
        <p>
            The person you have added will receive an email notification and will be prompted to activate their account.
        </p>
        <p>
            The NHS England Independent Providers team have been notified of this change.
        </p>
        <p>
            <a asp-action="Feedback" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
    </main>
</div>