@{
    ViewBag.Title = "Access denied";
}
<h1 class="nhsuk-heading-l">Account</h1>
<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1 nhsuk-u-margin-padding-1">Access denied</h2>
<p>
    Unfortunately your account has been denied access to this portal. If you think your account should have accessl, please contact your internal team/representitive that manages access to this portal.
</p>
