@using Domain.Models.Forms
<h1>
    Oops! You don't have permission to access this resource
</h1>

<h2>
    403 Forbidden
</h2>

<p>
    The page you have requested can not be served as you don't have sufficient permission to access that resource. Let’s get you back on the right path:
</p>

<ul>
    <li>
        <strong>Verify the URL:</strong> Perhaps there’s a minor typographical error or an outdated link. Please check the address and try again.
    </li>
    <li>
        <strong>Application Issue?</strong> If you continue experiencing this issue, please email <a href="mailto:england.licensing@nhs.net" title="Click to email the @CommonApplicationConstants.NHS_England_Provider_Team_Name">england.licensing@nhs.net</a>.
    </li>
</ul>
