@using Domain.Objects

<div id="nhsuk-cookie-banner" class="nhsuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on @CookieConstants.ApplicationName">
    <div class="nhsuk-cookie-banner__message nhsuk-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h2 class="nhsuk-cookie-banner__heading nhsuk-heading-m">
                    Cookies on @CookieConstants.ApplicationName
                </h2>
                <div class="nhsuk-cookie-banner__content">
                    <p>We've put some small files called cookies on your device to make our site work.</p>
                    <p>We'd also like to use analytics cookies. We use this information to improve our site.</p>
                    <p>Let us know if this is OK. We'll use a cookie to save your choice. You can <a id="nhsuk-cookie-banner__link" href="/cookie-policy" tabindex="1">read more about our cookies</a> before you choose.</p>
                </div>
            </div>
        </div>
        <div class="nhsuk-button-group">
            <button
                class="nhsuk-button"
                data-module="nhsuk-button"
                data-prevent-double-click="true" 
                type="submit" 
                asp-controller="Cookie"
                asp-action="AcceptCookies"
                id="accept-cookies">
                Accept cookies
            </button>
            <button class="nhsuk-button"
                    data-module="nhsuk-button"
                    data-prevent-double-click="true"
                    type="submit"
                    asp-controller="Cookie"
                    asp-action="DeclineCookies"
                    id="decline-cookies">
                Reject analytics cookies
            </button>
        </div>
    </div>
</div>

<script>
    function checkCookie(cookieName) {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.startsWith(cookieName + '=')) {
                return true;
            }
        }
        return false;
    }

    function CookieBannerDisplay(display) {
        const cookieBanner = document.getElementById('nhsuk-cookie-banner');
        cookieBanner.style.display = display;
    }

    // Usage
    var isCookiePresent = checkCookie('@CookieConstants.CookieName');
    if (isCookiePresent) {
        CookieBannerDisplay('none');
    } else {
        CookieBannerDisplay('');
    }

    document.getElementById('accept-cookies').addEventListener('click', async function (event) {
        event.preventDefault();
        try {
            const response = await fetch('/accept-cookies', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            });

            if (response.ok) {
                const data = await response.text();
                CookieBannerDisplay('none');
            } else {
                console.error('Error submitting form:', response.status, response.statusText);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });

    document.getElementById('decline-cookies').addEventListener('click', async function (event) {
        event.preventDefault();

        try {
            const response = await fetch('/decline-cookies', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            });

            if (response.ok) {
                const data = await response.text();
                CookieBannerDisplay('none');
            } else {
                console.error('Error submitting form:', response.status, response.statusText);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script>

<header class="nhsuk-header" role="banner">

    <div class="nhsuk-header__container">
        <div class="nhsuk-header__logo">
            <div class="nhsuk-header__logo">
                <a class="nhsuk-header__link nhsuk-header__link--service " href="/" aria-label="Manage your NHS Provider Licence homepage">

                    <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
                        <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
                        <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
                    </svg>

                    <span class="nhsuk-header__service-name">
                        Manage your NHS Provider Licence
                    </span>
                </a>
            </div>
        </div>

    </div>
    <div class="nhsuk-navigation-container">
        <nav class="nhsuk-navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
            <ul class="nhsuk-header__navigation-list">
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" asp-controller="Home" asp-action="Index">
                        Licences
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" asp-controller="Messages" asp-action="Index">
                        Messages
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" asp-controller="Team" asp-action="Index">
                        Team members
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" asp-controller="YourProfile" asp-action="Index">
                        Your Profile
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="~/Account/SignOut">
                        Sign out
                    </a>
                </li>
                <li class="nhsuk-mobile-menu-container">
                    <button class="nhsuk-header__menu-toggle nhsuk-header__navigation-link" id="toggle-menu" aria-expanded="false">
                        <span class="nhsuk-u-visually-hidden">Browse</span>
                        More
                        <svg class="nhsuk-icon nhsuk-icon__chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                            <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                        </svg>
                    </button>
                </li>
            </ul>
        </nav>
    </div>

</header>
<div class="beta-banner">
    <div class="nhsuk-width-container ">
        <strong class="status-box-blue">BETA</strong>
        <span class="nhsuk-u-padding-left-2">Your <a asp-controller="Feedback" asp-action="Index">feedback</a> will help us to improve this service.</span>
    </div>
</div>