<li class="nhsuk-grid-column-one-thirds nhsuk-card-group__item">
    <div class="nhsuk-navigation-container">
        <nav class="nhsuk-contents-list" role="navigation" aria-label="Left hand page navigation">
            <ol class="nhsuk-contents-list__list">
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="@Url.Action("Inbox", "Messages")">Inbox</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="@Url.Action("Sent", "Messages")">Sent</a>
                </li>
                <li class="nhsuk-contents-list__item">
                    <a class="nhsuk-contents-list__link" href="@Url.Action("Send", "Messages")">New message</a>
                </li>
            </ol>
        </nav>
    </div>
</li>