@using Domain.Objects.ViewModels.Tasks
@model TaskOverviewViewModel
@{
    ViewBag.Title = "NHS - Provider Licensing portal: Insufficient account permission to access financial monitoring templates";
}
<h1 class="nhsuk-heading-l">
    Insufficient account permission
</h1>

<p>
    You do not have the necessary permissions to access this page. Please contact your organisation's administrator for further assistance.
</p>