@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "NHS England provider licence application: Session timeout";
}


<h1>
    Session Timeout
</h1>

<h2>
    Your session has expired
</h2>

<p>
    We apologise for any inconvenience. Your session has timed out due to inactivity.
</p>

<h3>
    What you can do:
</h3>

<ul>
    <li>
        <b>Restart your application</b>: Return to <a asp-action="Index">Part one application</a>, and re-enter your data.
    </li>
</ul>

<b>Note</b>: If there is no activity for 20 minutes, your session will automatically expire.

<p>
    Thank you for using our service.
</p>
