@{
    ViewBag.Title = "NHS - Provider Licensing portal: page not found";
}
<h1 class="nhsuk-heading-l">
    Oops, It Appears You’ve Taken a Wrong Turn
</h1>

<h2 class="nhsuk-heading-m">
    404 Error: Page Not Found
</h2>

<p>
    Regrettably, the page you were seeking seems to have vanished into the digital ether. We sincerely apologise for any inconvenience this may have caused. But fear not! Let’s get you back on the right path:
</p>

<ul>
    <li>
        <strong>Verify the URL:</strong> Perhaps there’s a minor typographical error or an outdated link. Please check the address and try again.
    </li>
    <li>
        <strong>Application Issue?</strong> If you continue experiencing this issue, please email <a href="mailto:england.licensing@nhs.net" title="Click to email the NHS England Independent Providers team">england.licensing@nhs.net</a>.
    </li>
</ul>